<% let title = 'Safe Site - Home' %>

<html>
<%- include('../components/head.ejs', { title }) %>

<body class="subpage">
    <%- include('../components/navbar.ejs') %>

    <div id="main" class="container">
        <div class="row 200%">
            <div class="12u">
                <%- include('../components/description.ejs') %>
            </div>
        </div>
    </div>
    <%- include('../components/footer.ejs') %>
</body>

</html>
