.content-card {
  margin-top: 10pt;
  color: #ffffff;
  border-radius: 10pt;
  background-color: #ffffff1f;
  padding: 25 25 15 25;
  margin-bottom: 70pt;
}

.float-right {
  float: right;
}

.style3 .content-card {
  background-color: #0000009c;
}

article .content-card {
  background-color: #000000e1;
}

#footer {
  position: relative;
  margin-top: -90px;
  height: 90px;
  clear:both;
  padding-top:20px;
  background-color: #000000;
}

#footer, #footer a{
  color: #706c6c;
}

li:before {
  content: "\e900";
}

#home #main {
  padding: 0;
  padding-bottom: 90px;
}
