.content-card {
  margin-top: 10pt;
  color: #ffffff;
  border-radius: 10pt;
  background-color: #ffffff1f;
  padding: 25 25 15 25;
  margin-bottom: 70pt;
}

.float-right {
  float: right;
}

.style3 .content-card {
  background-color: #0000009c;
}

article .content-card {
  background-color: #000000e1;
}

#footer {
  position: relative;
  margin-top: -90px;
  height: 90px;
  clear:both;
  padding-top:20px;
  background-color: #000000;
}

#footer, #footer a{
  color: #706c6c;
}

li:before {
  content: "\e900";
}

#home #main {
  padding: 0;
  padding-bottom: 90px;
}

#error-card h1 {
  font-size: 20pt;
  color: #dfdb1b;
}

#error-card img {
  max-width: 100%;
  max-height: 50vh;
}

form input.error, form input.error:focus {
  border-width: 2px;
  border-color: #d30f0f;
	box-shadow: 0 0 0 1px #ff0000;
}

.error-message {
  font-size: 10pt;
  color: #d30f0f;
}

.content-card > h3 {
  display: inline-flex;
}

#menu > ul.links > li > form > button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.5)!important;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

#menu > ul.links > li > form > button:hover {
  color: #e3e63d!important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333232;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100, 92, 44);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 34, 0);
}
