<div class="content-card">
    This is a personal project of mine. My goal is to practice the tools for
    web development by building a good looking website that is safe against
    common attacks such as SQLi, XSS and CSRF (and many others). For this, I'm
    using <br><br>

    <ul class="alt">
        <li class="icon-node-js"> Node.js with express for routing</li>
        <li class="icon fa-html5"> Basic HTML/CSS (and jQuery) for front-end stuff</li>
        <li class="icon-js"> EJS for server-side templating </li>
        <li class="icon-heroku"> Heroku for hosting </li>
    </ul>

    You can check out the full source on my <a href="https://github.com/diegood12/safe-site" title="safe-site" class="icon fa-github"> Github </a>

    <br> <br>

    If you had any trouble, you can open an issue or, if you think I'm doing something wrong, you can open a pull request or leave a suggestion, both would help a lot.
</div>
