<div class="content-card">
    This is a personal project of mine. My goal is to practice the tools for
    web development by building a good looking website that is safe against
    common attacks such as SQLi, XSS and CSRF (and many others). For this, I'm
    using <br><br>

    <ul class="alt">
        <li class="icon-node-js"> Node.js with helmet and argon2</li>
        <li class="icon fa-html5"> HTML/CSS </li>
        <li class="icon-js"> EJS for server-side templating </li>
        <li class="icon-heroku"> Heroku for hosting </li>
    </ul>

    You all can check out the full source on my <a href="https://github.com/diegood12/safe-site" title="safe-site" class="icon fa-github"> Github </a>
</div>
