<footer id="footer">
    <div>
        <div>
            Made by <a class="icon fa-github" href="https://github.com/diegood12"> Diego Fidalgo </a>
        </div>
        <div>
            Icons made by
            <a href="http://www.freepik.com/" title="Freepik">
                Freepik
            </a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">
                Flaticon
            </a>
        </div>
    </div>
</footer>
