<div id="additional-space"></div>

<footer id="footer">
    <div>
        Made by <a class="icon fa-github" href="https://github.com/diegood12" target="_blank"> Diego Fidalgo </a>
    </div>
    <div class="row 12u">
        <div class="6u">
            Icons by
            <a href="http://www.freepik.com/" title="Freepik" target="_blank">
                Freepik
            </a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">
                Flaticon
            </a>
        </div>
        <div class="6u">
            Template by
            <a href="https://templated.co/" title="Templated" target="_blank">
                Templated
            </a>
        </div>
    </div>
</footer>
