<div class="content-card" id="loginform">
    <h3 <%- errors.globals ? `id="global-error" error-message="${errors.globals.join('<br>')}"` : '' %>>Login</h3>
    <form method="post" action="/auth/login">
        <div class="row uniform">
            <div class="12u">
                <input type="text" required autofocus autocomplete="username" name="username" id="username" placeholder="username"
                <%- errors.username ? `class="error" error-message="${errors.username.join('<br>')}"` : ''%>/>
            </div>
            <div class="12u">
                <input type="password" required autocomplete="current-password" name="password" id="password" placeholder="password"
                <%- errors.password ? `class="error" error-message="${errors.password.join('<br>')}"` : ''%>/>
            </div>
            <!-- Break -->
            <div class="6u">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <div class="6u">
                <a class="float-right" href="#"> Forgot my password </a>
            </div>
            <!-- Break -->
            <div class="12u">
                <input class="12u" id="" type="submit" value="login">
            </div>
            <div class="12u">
                Don't have an account yet?
                <a class="12u button" href="/register"> Register </a>
            </div>
        </div>
    </form>
</div>
