<div id="loginform">
    <form method="post" action="/auth/login">
        <div class="row uniform">
            <div class="12u">
                <input type="text" name="username" id="username" placeholder="username" />
            </div>
            <div class="12u">
                <input type="password" name="password" id="password" placeholder="password" />
            </div>
            <!-- Break -->
            <div class="6u">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <div class="6u">
                <a href="#"> Forgot my password </a>
            </div>
            <!-- Break -->
            <div class="12u">
                <input class="float-right 12u" id="login-button" type="submit" value="login">
            </div>
        </div>
    </form>
</div>
