<% if (typeof alt === 'undefined'){
    alt = false;
} %>

<header id="header" <%- alt ? 'class="alt"' : "" %>>
    <div class="logo"><a href="/">Safe Site</a></div>
    <a href="#menu"></a>
</header>

<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <% if (typeof userID !== 'undefined') { %>
            <li>
                <form action="/auth/logout" method="POST">
                    <button type="submit"> Logout</button>
                </form>
            </li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        <% } %>
    </ul>
</nav>
