<div class="content-card" id="loginform">
    <h3>Register</h3>
    <form method="post" action="/auth/login">
        <div class="row uniform">
            <div class="12u">
                <input type="text" required autocomplete="email" name="email" id="email" placeholder="email" />
            </div>
            <div class="12u">
                <input type="text" required autocomplete="username" name="username" id="username"
                    placeholder="username" />
            </div>
            <div class="12u">
                <input type="password" required autocomplete="new-password" name="password" id="password"
                    placeholder="password" />
            </div>
            <div class="12u">
                <input type="password" required autocomplete="" name="passchecker" id="passchecker"
                    placeholder="confirm password" />
            </div>
            <!-- Break -->
            <div class="6u">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <!-- Break -->
            <div class="12u">
                <input class="12u" id="" type="submit" value="register">
            </div>
            <div class="12u">
                <a class="12u button" href="/login"> Login </a>
            </div>
        </div>
    </form>
</div>
